.h2text {
    text-align: center;
    margin-bottom: 30px;
}

.news {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.news h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.news ul {
    padding: 0;
}

.news li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: #333;
    word-wrap: break-word;
}
